.fade-in {
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}

#navbar {
  opacity: 1;
}

#navbar.hidden {
  opacity: 0;
}

@keyframes scrollLeftInfinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.scroll-track {
  width: max-content;
  animation: scrollLeftInfinite 20s linear infinite;
}

@media (max-width:768px) {
  .scroll-track {
    animation-duration: 14s;
  }
}

