.fade-in {
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#navbar {
    opacity: 1;
}

#navbar.hidden {
    opacity: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-scroll-slow {
    width: max-content;
    animation: scroll 20s linear infinite;
}

.scroll-track {
    width: max-content;
}

.hide-nav {
    transform: translateY(-100%);
}
